do { my @bugzillas = (

# from https://landfill.allizgub.org/

{
'testUrl' => 'https://bugzilla50.allizgub.org/',
#'testUser' => 'djzort@cpan.org',
#'testPassword' => 'cvuA6REFGLrRNU-K',
'testApiKey' => '8k2xZlv666WTk0hCtJtuFqcRecwpo3lHG0GJefqp',
'autologin' => 0,
'version' => '5.0',
},

{
'testUrl' => 'https://bugzilla52.allizgub.org/',
#'testUser' => 'djzort@cpan.org',
#'testPassword' => 'cvuA6REFGLrRNU-K',
'testApiKey' => '8k2xZlv666WTk0hCtJtuFqcRecwpo3lHG0GJefqp',
'autologin' => 0,
'version' => '5.2',
},

);
@bugzillas
}


